.p-container{
    overflow: hidden;
    position: relative;
}

.p-head{
    margin-bottom: 2rem;
}


.swiper-horizontal{
    overflow: visible;
}

.p-button {
    position: absolute;
   gap: 1rem;
   top: -4rem;
   right: 0;
}
.p-button>button{
    font-size: 1.2rem;
    border: none;
    padding: .2rem .8rem;
    color: blue;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.p-button>button{
    background-color: #EEEEFF;
   
}


@media (max-width: 640px) {
    .p-head{
        align-items: center;
    }
    .p-button{
        position: initial;
    }
}